
@font-face {
  font-family: 'Signika-Light';
  src: url('Signika-Light.eot?#iefix') format('embedded-opentype'),  url('Signika-Light.otf')  format('opentype'),
	     url('Signika-Light.woff') format('woff'), url('Signika-Light.ttf')  format('truetype'), url('Signika-Light.svg#Signika-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
