
@font-face {
  font-family: 'Signika-Bold';
  src: url('Signika-Bold.eot?#iefix') format('embedded-opentype'),  url('Signika-Bold.otf')  format('opentype'),
	     url('Signika-Bold.woff') format('woff'), url('Signika-Bold.ttf')  format('truetype'), url('Signika-Bold.svg#Signika-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
