/* General
*/
/* Fixing Firefox bug with border-collapse: collapse */
td {
	background-clip: padding-box;
}
body {
	padding-top: 70px;
    font-family: 'Myriad Pro';
	background-color: #fff;
}
.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}
.navbar-text {
	margin-left: -30px;
	margin-right: 0;
	font-size: 16px;
}
.page-header {
	margin-top: 0;
	padding-top: 10px;
}
.table.no-border {
	margin-bottom: 0;
}
.table.no-border td {
	border: 0;
}

/* alerts
*/
.alert-message {
	position: fixed;
	width: 100%;
	z-index: 1030;
}

/* data-title
*/
[data-title]:hover:after {
	display: block;
	position: absolute;
	z-index: 1000;
	
	content: attr(data-title);
	
	margin-top: 15px;
	padding: 2px 4px;
	border: 1px solid #767676;
	box-shadow: 2px 2px 2px #999;
	border-radius: 2px;
	background: linear-gradient(#fff, #e4e5f0);
	
	font: normal 12px Arial;
	color: #555;
}

/* Placeholder
*/
select.placeholder {
	color: #999;
}
select.placeholder option {
	color: #555;
}
select.placeholder option:first-child {
	color: #999;
}

/* Navigation
*/
.navbar-fixed-top {
	margin-bottom: 0;
	border-bottom: 0;
}

/* - Header
*/
.nav-header {
	min-height: 70px;
	padding-top: 10px;
	border-bottom: 1px solid #e7e7e7;
}
.navbar-header {
	width: 250px;
	margin-right: 20px;
}
.navbar-brand {
	margin-top: 0px;
	padding: 0;
}
.navbar-brand .logo {
	height: 50px;
}
.header-title {
	position: absolute;
	float: none;
	text-align: center;
	width: 100%;
	margin-top: 0;
}
.welcome-title-wrapper {
	position: absolute;
	width: 100%;
	left: 0;
}
.welcome-title {
	margin-left: auto;
	margin-right: auto;
	float: none;
	margin-top: 25px;
	width: 50%;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000 !important;
}
.welcome-title:hover:after {
	margin-top: 0px;
	width: 50%;
	white-space: normal;
}

.brand-saes {
	margin-right: -15px;
}
.navbar-top-links {
	margin-right: -30px;
}

.dropdown-menu > li > a {
	white-space: normal;
	min-width: 250px;
}

.dropdown-user form {
	padding: 0 20px;
}
.dropdown-user form .btn-link {
	margin-left: -20px;
}

/* - Navbar
*/
.nav-navbar {
	display: none;
	height: 130px;
	border-bottom: 1px solid #e7e7e7;
	background-color: #fff;
}
.row-criterion {
	padding-top: 5px;
}
.results .btn-link {
	padding: 10px 10px 0 0;
}
.nav-navbar-toggle {
	position: absolute;
	bottom: 0;
	right: 30px;
}

/* Page wrapper
*/
#page-wrapper {
	min-height: 500px;
	margin-left: 0;
	margin-top: 0;
	padding-bottom: 100px
}
#page-wrapper.with-navbar {
	padding-top: 130px;
}

/* Calculator
*/

.header-fixed {
	position: fixed;
	top: 70px;
	width: 100%;
	padding-left: 31px;
	padding-right: 30px;
	z-index: 1000;
}
.header-fixed.with-navbar {
	top: 200px;
}

.table-standard .table th {
	padding-top: 2px;
	padding-bottom: 2px;
}

.calculator {
	/*padding-top: 20px;
	padding-bottom: 100px;*/
}
.table-standard th {
	text-align: center;
}
.table-standard tbody td {
	position: relative;
	overflow: hidden;
}
.con-req-1 {
	font-weight: bold;
	background-color: #ddd;
}
.con-req-0:hover:after {
	display: none;
}

.btn-standard-save[disabled] {
	padding-right: 37px;
}
.btn-standard-save[disabled]:after {
	content: url(/media/saes/img/gif-load.gif);
	margin-left: 5px;
	position: absolute;
}
span[data-title]:hover:after {
	margin-top: 40px;
}
.input-group-addon + span > input[type=text] {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Calculator Institute
*/
.table-standard .table {
	margin-bottom: 0;
}
.table-standard-institute thead tr:first-child th:first-child {
	width: 30%;
}
.table-standard-institute thead tr:first-child th:last-child {
	width: 70%;
}
.accomplishment-level[data-title]~span {
	font-weight: bold;
}

/* Report
*/
.report {
	padding-top: 20px;
	/*padding-bottom: 100px;*/
}
.report th {
	vertical-align: middle !important;
}
.report th [class*=col] {
	overflow: hidden;
}
.report .con-req-1 {
	background-color: transparent;
}
.report .lead {
	margin-bottom: 0;
}
.btn-excel {
	/*margin-top: 20px;*/
}
.btn-report-wrapper {
	position: absolute;
	margin-top: 10px;
	right: 30px;
}
.iframe {
	width: 0px;
	line-height: 0px;
	height: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	display: none;
}

/* Footer
*/
.footer-title {
	margin-top: 9px;
	margin-bottom: 0px;
	margin-left: 5px;
	font-size: 12px;
}
/* Responsive
*/

.results .lead {
	font-size: 16px;
	margin-bottom: 0;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
	.welcome-title {
		width: 60%;
	}
	.welcome-title:hover:after {
		width: 60%;
	}
	.footer-title {
		margin-top: 15px;
		margin-left: 30px;
		font-size: 14px;
	}
}

@media (min-width: 1200px) {
	.navbar-brand {
		margin-top: -5px;
	}
	.navbar-brand .logo {
		height: 60px;
	}
	.results .lead {
		font-size: 21px;
	}
}
@media print {
	#page-wrapper {
		padding-top: 0 !important;
	}
	body {
		padding-top: 0 !important;
	}
	
	.table-responsive {
		width: auto;
		margin-bottom: 0;
		overflow-x: auto;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 0;
	}
	.report thead th,
	tr.word-break th {
		/*word-break: break-all;*/
	}
	.table.no-border td {
		border: 0 !important;
	}
	.table>thead>tr>th,
	.table>tbody>tr>th,
	.table>tfoot>tr>th,
	.table>thead>tr>td,
	.table>tbody>tr>td,
	.table>tfoot>tr>td {
		padding: 4px;
	}
	
	tr>table td {
		padding: 0;
	}
	
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	padding: 4px;
}

td>.table>tbody>tr>td {
	padding: 0 0 4px;
}

.nowrap {
	white-space: nowrap;
}
