/* General */

body {
    font-family: 'Myriad Pro';
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(http://procalidad.gob.pe/templates/rt_voxel/images/overlays/patterns/crackle.png);
}

/* Placeholder */

select.placeholder {
	color: #999;
}
select.placeholder option {
	color: #555;
}
select.placeholder option:first-child {
	color: #999;
}

/* Sign */

.form-sign {
	padding: 10px 30px;
	margin: 0 auto;
	background-color:#fff;
	box-shadow: 5px 5px 5px #ccc;
	/*font-size: 16px;*/
}

.completar {
	height: 150px;
}
.form-sign .logo {
	padding-top: 10px;
	padding-bottom: 20px;
	margin: 0 auto;
}
.signin {
	max-width: 400px;
}
.signup {
	max-width: 960px;
}
.heading {
	text-align: center;
}
.footer-sign {
	font-size: 12px;
	margin: 0 auto;
	max-width: 360px;
	padding: 15px;
	position: relative;
	text-align: center;
	/*top: 100px;*/
}
.control-sign {
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.signin .actions .btn-link {
	padding: 6px;
}

.signup fieldset {
	margin-bottom: 20px;
}
.signup .committee {
	margin-bottom: 0;
}
.signup .committee input[type=radio] {
	margin: 0 0 0 -20px;
	float: none;
}

.btn-forgot {
	font-size: 14px;
}

.btn-flat,
.input-flat {
	border-radius: 0;
}

.th-actions,
.td-actions {
	padding: 0;
	width: 20px;
}
.td-actions {
	position: relative;
}
tr .td-actions > button {
	display: none;
	position: absolute;
	top: 13px;
	right: 0px;
}
/*.ficha tr + tr > .td-actions > button {*/
tr:hover:last-child:not(:first-child) > .td-actions > button {
	display: inline-block;
}

.form-group.has-error .text-danger.hidden {
	display: block !important;
	visibility: visible !important;
}
/* LOGIN 2*/
.form-sign-2 {
	padding: 10px 1px;
	margin: 0 auto;
	font-size: 16px;
}
.div-left {
	padding: 0px auto;
	text-align: justify;

}
.div-right {
	border-left: 10px solid #999;
}
.primera_linea {
	text-align: center;
	margin-bottom: 40px;
}
.contenido-der {
	width: 70%; 
	float: right;
	margin-top: 18px;
	vertical-align: middle;
	font-size: 14px;
}
.contenido-izq {
	max-width: 31%; 
	float: left;
	margin: 1px auto;
}
.img-login-vineta {
	float:left; 
	margin-top: 3px;
	width: 16px;
}
.img-login {
	width: 90px;
}
.ivideo {
	width: 100%;
	height: 350px;
}
.separador1 {
	width: 70%;
	float: right;
	margin: 20px auto 0 0;
	text-align: center;
	font-size: 30px;
}
.interior-top{
	min-height: 50px;
	width: 100%;
}
.interior-left {
	float: right;
	width: 28%;
	height: 80%;
}
#login1 {
	float: right;
	display: block;
	border: 1px solid #0075b0;
	width: 70%;
	margin-right: 10px;
	padding: 10px 30px;
	/*para Firefox*/
	-moz-border-radius: 40px 40px 40px 40px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 40px 40px 40px 40px;
	/* para Opera */
	border-radius: 40px 40px 40px 40px;
	box-shadow: 5px 5px 8px #999
}
#login2 {
	float: right;
	display: none;
	border: 1px solid #0075b0;
	width: 70%;
	margin-right: 10px;
	padding: 10px 30px;
	/*para Firefox*/
	-moz-border-radius: 40px 40px 40px 40px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 40px 40px 40px 40px;
	/* para Opera */
	border-radius: 40px 40px 40px 40px;
	box-shadow: 5px 5px 8px #999
}
#login2_overflow {
	overflow-y: scroll;
	height: 260px;
	width: 100%;
	padding-right: 6px;
}
#vermas, #volver, #volver_video {
	cursor: pointer;
}
#video-img {
	float: right;
	width: 30px;
	margin-top: -5px;
	cursor: pointer;
}
#video-txt {
	cursor: pointer;
	float: right;
}
#video-img2{
	float: left;
	width: 30px;
	margin-top: -5px;
	cursor: pointer;
}
#video-txt2 {
	cursor: pointer;
	float: left;
}
#login3 {
	display: none;
	width: 70%;
	margin-right: 10px;
	float: right;
}
#login4 {
	display: none;
	width: 70%;
	margin-right: 10px;
	float: right;
}
.texto_centrado {
	text-align: center;
}
/* FIN LOGIN 2*/


.select2-container .select2-selection--single{
    height: 34px !important;
    padding: 2px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-top: 0px !important;
}
hr{
	border-top: 1px solid transparent;
}