
@font-face {
  font-family: 'Signika-Regular';
  src: url('Signika-Regular.eot?#iefix') format('embedded-opentype'),  url('Signika-Regular.otf')  format('opentype'),
	     url('Signika-Regular.woff') format('woff'), url('Signika-Regular.ttf')  format('truetype'), url('Signika-Regular.svg#Signika-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
