/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

.modal-mensaje {
	width: 800px;
	max-width: 95%;
}

#div_iframe_mapa {
	display: none;
	cursor: pointer;
}

#div_imagen_mapa {
	cursor: pointer;
	display: block;
}