/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* autoevaluacion/calculator
*/

body.fixed .wrapper {
	margin-top: 100px;
}
body.fixed .left-side {
	top: 100px;
	z-index: 2;
}
.strong {
	font-weight: bold;
}

@media screen and (max-width: 992px) {
	.table-wrapper {
		overflow: hidden;
	}
	.table-standard {
		overflow: auto;
	}
	.table-wrapper > table, 
	.table-standard > table {
		min-width: 850px;
	}
	.table-wrapper > table {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 670px) {
	.content-header {
		display: none;
	}
}

.content {
	padding-top: 0;
}

.sidebar-menu a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.header-auto {
	position: fixed;
	top: 50px;
	height: 50px;
	width: 100%;
	z-index: 3;
	
	background: #fbfbfb;
	_box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #dbdbdb;
}

.header-auto .sidebar-toggle {
	float: left;
	padding: 9px 5px;
	margin: 8px 0 8px 15px;
	_margin-right: 15px;
	_margin-bottom: 8px;
	_margin-left: 15px;
	background-color: #00529C;
	background-image: none;
	border: 1px solid transparent;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
}
.header-auto .sidebar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.8);
}
.header-auto .sidebar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}

.header-auto h1 {
	float: left;
	font-size: 24px;
	margin: 0 0 0 15px;
	padding: 12px 0 0 0;
}
@media screen and (max-width: 1199px) {
	.header-auto h1 {
		display: none;
	}
}

.header-auto .buttons {
	float: left;
	padding-top: 8px;
	margin-left: 15px;
}
@media screen and (max-width: 777px) {
	.buttons span {
		display: none;
	}
}
@media screen and (max-width: 560px) {
	.header-auto .buttons {
		position: fixed;
		float: none;
		_z-index: 1100;
	}
}

.result-bar {
	float: right;
	padding: 10px;
}
.result .progress {
	_width: 200px;
	margin: 0;
}

.header-auto .result {
	float: right;
	font-size: 20px;
	padding: 7px 15px;
}

.table-header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 100px;
	padding: 0px 15px 0 235px;
	z-index: 1;
	transition: padding-left .2s;
}

.strech .table-header {
	padding-left: 15px;
}
.table-wrapper {
	padding-top: 20px;
	background: #f9f9f9;
}
.table-header {
	_padding-top: 20px;
}

.table-standard {
	padding-top: 20px;
}

@media screen and (max-width: 992px)
{
	.sidebar-toggle {
		display: none;
	}
	.content-header {
		margin-left: 15px;
	}
	.table-header {
		padding-left: 15px;
	}
	.strech .table-header {
		padding-left: 15px;
	}
	.active.relative .table-header {
		padding-left: 235px;
	}
}

.input-group-addon[data-toggle],
.input-group-addon.required {
	font-weight: bold;
}

.btn-standard-save[disabled] {
	padding-right: 37px;
}
.btn-standard-save[disabled]:after {
	content: url(/media/saes_lte/img/gif-load.gif);
	margin-left: 5px;
	position: absolute;
}
span[data-title]:hover:after {
	margin-top: 0px;
}
tr.processed {
	background-color: #e7e7e7;
}
li.processed {
	background-color: #e7e7e7;
}

.table-standard .radio {
	padding-left: 20px;
}
.table-standard .iradio_minimal {
	margin-left: -20px;
}


/* File input
*/
.btn-file-wrapper {
	padding: 0;
}
.btn.btn-file {
	width: 35px;
}
.btn-file[data-title]:hover:after,
.btn_file_view[data-title]:hover:after {
	display: none;
}
.btn.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
	
	width: 35px !important;
	height: 35px !important;
}
.btn_file_view:not(.disabled) .empty {
	display: none;
}
.btn_file_view.disabled .full {
	display: none;
}
.file_process {
	padding-left: 8px;
	padding-right: 8px;
}


/* autoevaluacion/actividades
*/

/* estandares */
.estandares-wrapper {
	height: 500px;
	overflow-y: auto;
}
.estandares-list {
	margin: 0;
	padding: 0px 0px;
	list-style: none;
}
.estandares-list > li {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 10px;
	background: #f3f4f5;
	margin-bottom: 2px;
	border-left: 2px solid #e6e7e8;
	color: #444;
	width: 100%;
	cursor: move;
}
.estandares-list > li:last-of-type {
	margin-bottom: 0;
}
.estandares-list > li.danger {
	border-left-color: #f56954;
}
.estandares-list > li.warning {
	border-left-color: #f39c12;
}
.estandares-list > li.info {
	border-left-color: #00c0ef;
}
.estandares-list > li.success {
	border-left-color: #00a65a;
}
.estandares-list > li.primary {
	border-left-color: #3c8dbc;
}
.estandares-list > li > input[type='checkbox'] {
	margin: 0 10px 0 5px;
}
.estandares-list > li .text {
	display: inline-block;
	margin-left: 5px;
}
.estandares-list > li .label {
	margin-left: 10px;
	font-size: 9px;
	float: right;
}
.estandares-list > li .tools {
	display: none;
}
.estandares-list .handle {
	display: inline-block;
	cursor: move;
	margin: 0 5px;
}

/* actividades */
/*.panel-actividades .panel-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.actividades-list {
	border-radius: 0;
	border-width: 2px;
	border-style: dashed;
}
.actividades-list.ui-state-active {
	border-color: #333;
}
.actividades-list li {
	padding: 5px;
}
.actividades-list li:hover {
	background: #fff;
}
.actividades-list li + li {
	margin-top: 5px;
}
.actividades-list li .tools {
	display: none;
	float: right;
	color: #f56954;
}
.actividades-list li .tools > .fa,
.actividades-list li .tools > .glyphicon,
.actividades-list li .tools > .ion {
	margin-right: 5px;
	cursor: pointer;
}
.actividades-list li:hover .tools {
	display: inline-block;
}

.ui-draggable-dragging {
	opacity: 0.5;
	z-index: 2000;
}

.btn-save-actividad[disabled] {
	padding-right: 37px;
}
.btn-save-actividad[disabled]:after {
	content: url(/media/saes_lte/img/gif-load.gif);
	margin-left: 5px;
	position: absolute;
}*/

.file__item {
	padding: 0;
}
.actividad_button_wrappe {
    position: relative;
    left: -10px;
}
.actividad_button_wrapper button {
    display: block;
    margin: 5px auto !important;
    
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
body {
    min-height: 0px;
}
.actividad__readonly {
    max-height: 300px;
    overflow: auto;
}

.indicadores__wrapper > div{
         display: inline-block;
         vertical-align: middle;
     }
     .indicadores__total {
		 font-size: 23px;
         width: 17%;
	 }
	 .d-hidden {
		display: none;
	  }
     .indicadores {
         width: 83%;
     }
     .indicadores__item {
         font-size: 15px;
         float: left;
         text-align: center;
         box-sizing: border-box;
         height: 30px;
         width: 30px;
         border: 3px solid black;
         margin: 5px;
     }
.row_item {
    margin-bottom: 10px;
}
.row_item button {
    margin-top: 3px;
}