/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* autoevaluacion/calculator
*/

body.fixed .wrapper {
	margin-top: 100px;
}
body.fixed .left-side {
	top: 100px;
	z-index: 2;
}
.strong {
	font-weight: bold;
}

@media screen and (max-width: 992px) {
	.table-wrapper {
		overflow: hidden;
	}
	.table-standard {
		overflow: auto;
	}
	.table-wrapper > table, 
	.table-standard > table {
		min-width: 850px;
	}
	.table-wrapper > table {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 670px) {
	.content-header {
		display: none;
	}
}

.content {
	padding-top: 0;
}

.sidebar-menu a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.header-auto {
	position: fixed;
	top: 50px;
	height: 50px;
	width: 100%;
	z-index: 3;
	
	background: #fbfbfb;
	_box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #dbdbdb;
}

.header-auto .sidebar-toggle {
	float: left;
	padding: 9px 5px;
	margin: 8px 0 8px 15px;
	_margin-right: 15px;
	_margin-bottom: 8px;
	_margin-left: 15px;
	background-color: #00529C;
	background-image: none;
	border: 1px solid transparent;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
}
.header-auto .sidebar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.8);
}
.header-auto .sidebar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}

.header-auto h1 {
	float: left;
	font-size: 24px;
	margin: 0 0 0 15px;
	padding: 12px 0 0 0;
}

.header-auto .buttons {
	float: left;
	padding-top: 8px;
	margin-left: 15px;
}
@media screen and (max-width: 1199px) { /*1199 992*/
	.buttons span {
		display: none;
	}
}
@media screen and (max-width: 560px) {
	.header-auto .buttons {
		position: fixed;
		float: none;
		_z-index: 1100;
	}
}

.result-bar {
	float: right;
	padding: 10px;
}
.result .progress {
	_width: 200px;
	margin: 0;
}

.header-auto .result {
	float: right;
	font-size: 20px;
	padding: 7px 15px;
}

.table-header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 100px;
	padding: 0px 15px 0 235px;
	z-index: 1;
	transition: padding-left .2s;
}

.strech .table-header {
	padding-left: 15px;
}
.table-wrapper {
	padding-top: 20px;
	background: #f9f9f9;
}
.table-header {
	_padding-top: 20px;
}

.table-standard {
	padding-top: 20px;
}

@media screen and (max-width: 992px)
{
	.sidebar-toggle {
		display: none;
	}
	.content-header {
		margin-left: 15px;
	}
	.table-header {
		padding-left: 15px;
	}
	.strech .table-header {
		padding-left: 15px;
	}
	.active.relative .table-header {
		padding-left: 235px;
	}
}

.list-buttons {
	margin: 0;
	position: absolute;
	right: 15px;
}