/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Saes
================================================================================
*/

/* header
*/
body > .header .logo {
	font: 30px/55px 'Myriad Pro';
}

.img-logo {
	padding: 15px;
}
.skin-blue .navbar {
	background-color: #00529C;
}
.skin-blue .logo {
	background-color: #004e94;
	color: #f9f9f9;
}
.skin-blue .logo:hover {
	background-color: #033c6f;
}
@media screen {
	.left-side {
		left: 0;
		transition: left .2s;
	}
	.right-side {
		transition: margin-left .2s;
		min-height: 600px;
	}
}
/*.row-offcanvas-left {
	left: 0;
	transition: left .5s;
}*/

/* No padding-bottom (not needed on newest versions of AdminLTE)
*/
.box .box-header {
	padding-bottom: 0;
}

.small-box.bg-gray:hover {
	color: #333;
}

/* Animations
*/
.open > .dropdown-menu {
  animation-duration: .2s;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
}
.small-box:hover .icon {
	animation-duration: .2s;
	-webkit-animation-duration: .2s;
	-moz-animation-duration: .2s;
}

/* data-title
*/
[data-title]:hover:after {
	display: block;
	position: absolute;
	z-index: 1000;
	
	content: attr(data-title);
	
	margin-top: 15px;
	padding: 2px 4px;
	border: 1px solid #767676;
	box-shadow: 2px 2px 2px #999;
	border-radius: 2px;
	background: linear-gradient(#fff, #e4e5f0);
	
	font: normal 12px Arial;
	color: #555;
}

/* We don't need an image there
*/
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: auto;
}

/* Modal
*/
.modal .table-wrapper {
	margin-bottom: 20px;
}

/* Alerts
*/
.alert-wrapper {
	_position: absolute;
	position: fixed;
	width: 50%;
	margin-left: 25%;
	z-index: 2000;
}
.alert-wrapper .alert {
	_width: 100%;
	_margin: 0 auto;
	z-index: 5000;
}
@media screen and (max-width: 560px) {
	.alert-wrapper {
		padding: 0 15px 0 20px;
	}
	.alert-wrapper .alert {
		width: 100%;
	}
}

/* Flots
*/
.flot-chart {
	height: 400px;
}
.flot-chart-content {
	height: 100%;
}

/* Highcharts
*/
.highcharts-wrapper {
	overflow: auto;
}
.highcharts {
	min-width: 500px;
	height: 500px;
	margin: 0 auto;
	_max-width: 700px;
}
@media print {
	.highcharts { max-width: 700px; }
}

/* Mobile icon fix
*/
.sidebar-menu .fa-mobile:before,
.sidebar-menu .fa-mobile-phone:before {
	margin-left: 5px;
}

/* List buttons
*/
.list-buttons .btn i {
	margin-right: 5px;
}

.radio label, 
.checkbox label {
	white-space: nowrap;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.bg-success td,
.bg-success {
    background: #dff0d8 !important;
}
.bg-warning td,
.bg-warning {
    background: #fcf8e3 !important;
}
.bg-danger,
.bg-danger td,
.bg-danger input,
.bg-danger input[disabled]{
  background-color: #f2dede !important;
}
.autoevaluacion .file__status {
  min-width: 20px;
  text-align: center;
  margin: 0px;
  font-size: 15px;
  padding: 3px;
}

.autoevaluacion .status__detail {
	width: 30px;
	margin-left: 5px;
	position: relative;
}

.autoevaluacion .status__detail:hover .estado__picker {
  display: block;
}
.autoevaluacion .evidencia__files__toolbar {
  text-align: center;
}
.autoevaluacion .evidencia__files__toolbar > * {
  vertical-align: middle;
  display: inline-block;
}
.autoevaluacion .file__item {
  text-align: center;
  padding-bottom: 5px;
}

.autoevaluacion .estado__picker {
	width: 40px;
  z-index: 999;	
  background: white;
  border: 1px solid gray;
  display: none;
  position: absolute;
  left: -4px;
  padding: 2px 8px 2px 0px;
}
.autoevaluacion .estado__picker > div {
  background-color: #f1f1f1;
}
.autoevaluacion .file__icon {
  vertical-align: top;
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
}
.row_item {
  margin-bottom: 10px;
}
.row_item button {
  margin-top: 3px;
}
.btn-delete {
	margin: 3px 0 0 -10px !important;
	padding: 2px 6px !important;
}

.thumbnail.selected {
  box-shadow: inset green 0 0 0 3px;
  background-color: #8abf9c !important;
}
#auto_overlay {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.6;
}
#auto_inner_overlay {
  color: white;
  position: fixed;
  left: 45%;
  top: 46%;
  right: 0;
  bottom: 0;
  font-size: 20px
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-red {
  background-color: #f56954 !important;
}
.ReactModal__Body--open {
  overflow: hidden;
}

.has-estandares {
  background: lightgray !important;
}

.view-buttons button.active {
  opacity: 0.8;
}

.mejora th {
  vertical-align: top;
}
.mejora .estandar__table th {
  background-color: #E0FFFF;
}
.mejora .conditional__row th {
  background: #A9A9A9;
}
.mejora .estado_missing{
  background: #ADD8E6;
}
.mejora .estado_picked{
  background-color: #FFFAF0;
}

.tree {
  max-height: 500px;
  overflow: auto;
  font-size: 14px;
}

.m-node.placeholder {
}
.m-node .inner {
  font-size: 14px;
}

.m-node .inner .leaf .wrapper{
     display: inline-block;
     margin-top: 3px;
     margin-left: 3px;
}
.m-node .inner .leaf {
    max-height: 20px;
    overflow: hidden;
    display: inline-block;
}

     .m-node {
         margin: 4px 0;
         }
.m-node .selected > div > span{
  box-shadow: inset green 0 0 0 2px;
  padding: 2px 0;
}
.m-node .node {
  display: inline-block;
  width: 100%;
  padding: 4px 5px;
}
.m-node .node.is-active {
  background-color: #31363F;
}

.f-no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-tree {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-draggable {
  position: absolute;
  opacity: 0.8;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.m-node.placeholder > * {
  visibility: hidden;
}
.m-node.placeholder {
  border: 1px dashed #ccc;
}
.m-node .inner {
  position: relative;
  cursor: pointer;
  padding-left: 10px;
}
.m-node .collapse {
  position: absolute;
  left: 0;
  cursor: pointer;
}
.m-node .caret-right:before {
  content: '\25B8';
}
.m-node .caret-down:before {
  content: '\25BE';
}
table th {
  vertical-align: middle !important;
}

.content{
  position: relative;
}
.content .content-actions{
  padding: 20px 0;
}
.text-center{
  text-align: center;
}
.table-center th,
.table-center td{
  vertical-align: middle !important;
  text-align: center !important;
}
.input-active{
  background: rgb(250,255,200);
  color: rgb(30,30,30);
}
.select2-active{

}
.select2-active .select2-selection--single{
  background: rgb(250,255,200) !important;
  color: rgb(30,30,30) !important;
}

.unstyled::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.btn-active{
  background: rgb(250,255,200);
  color: rgb(30,30,30);
  border: 1px solid #ddd;
}
.icon-2x{
  font-size: 24px;
}
.icon-primary{

}
.icon-success{
  color: green;
}
.icon-warning{
  color: #e6ac00;
}
.icon-danger{

}
.estandar__row .btn-primary{
  margin-top: 10px;
}