.total_row td{
    background: lightgrey;
    font-weight: bold;
}
.total_row_empty td {
    background: linen;
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.estandar {
  color: black;
  padding: 2px 6px;
}
.base--estandar {
  color: white;
  background-color: #00a65a !important;
}
.actividad--descripcion {
  max-height: 130px;
  overflow: auto;
}