/**
 *
 * @author     Sergio Melendez <helpse@gmail.com>
 * @copyright  (c) 2015 ProCalidad
 */

/* Regular User
================================================================================
*/

.header.regular .logo {
	width: 220px;
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.header.regular .logo .icon {
	height: 40px;
	float: left;
	margin-top: 5px;
	margin-right: -15px;
}
.header.regular .navbar {
	margin-left: 220px;
}

.header .navbar-text {
	position: absolute;
	color: #f9f9f9;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.header .user-menu > .dropdown-menu > li.user-body {
	padding: 15px 0;
}
.header.regular .dropdown-menu > li.user-body .btn-danger {
	color: #fff;
}

.header .navbar-nav > .user-menu {
	background-color: #00529C;
}
.header .navbar-nav > .user-menu > .dropdown-menu {
	padding-top: 10px;
}
.header .navbar .dropdown-menu > li > a:hover {
	color: #f9f9f9;
	background: #3c8dbc;
}
.header .navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
	margin-top: 10px;
}

@media screen and (max-width: 560px) {
	body > .header.regular .logo,
	body > .header.regular .navbar {
		width: 100%;
		float: none;
		position: relative!important;
		margin-left: 0;
	}

}

/* autoevaluacion/start
*/

.dashboard-start h1 {
	margin: 0;
	font-size: 30px;
}
.stats.collapsing {
	-webkit-transition: none;
    transition: none;
}

.th-actions,
.td-actions {
	padding: 0;
	width: 20px;
}
.td-actions {
	position: relative;
}
tr .td-actions > button {
	display: none;
	position: absolute;
	top: 13px;
	right: 0px;
}
/*.ficha tr + tr > .td-actions > button {*/
tr:hover:last-child:not(:first-child) > .td-actions > button {
	display: inline-block;
}

div#warning p
{
	text-align:justify;
}

div#warning h4
{
	font-size:20px;
	font-weight:bolder;
	text-transform:uppercase;
}