
@font-face {
  font-family: 'Signika-Semibold';
  src: url('Signika-Semibold.eot?#iefix') format('embedded-opentype'),  url('Signika-Semibold.otf')  format('opentype'),
	     url('Signika-Semibold.woff') format('woff'), url('Signika-Semibold.ttf')  format('truetype'), url('Signika-Semibold.svg#Signika-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
